<!DOCTYPE html>
<html>
<head>
    <title>ZKTeco Test Zone</title>
</head>
<body>
    <h1>Bienvenido a la zona de pruebas para ZKTeco</h1>
    <p>
        Puede probar la API <strong>Delete Person Level</strong> desde el siguiente enlace:
    </p>
    <a href="{% url 'delete_person_level' %}">Probar Delete Person Level</a>
    <p>
        Puede probar la API <strong>Add Person</strong> desde el siguiente enlace:
    </p>
    <a href="{% url 'add_person' %}">Probar Add Person</a>
    <p>
        Puede probar la API <strong>Get Person</strong> desde el siguiente enlace:
    </p>
    <a href="{% url 'get_person' %}">Probar Get Person</a>
</body>
</html>
