{% extends "base.html" %}

{% block title %}Inicio - ZKTeco{% endblock %}

{% block content %}
<h1 class="mb-4">Zona de pruebas ZKTeco</h1>
<p class="mb-4">Seleccione una opción para interactuar con la API:</p>
<div class="row">
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-header bg-primary text-white">Gestión de Personas</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action" href="{% url 'add_person' %}">Agregar Persona</a>
                <a class="list-group-item list-group-item-action" href="{% url 'delete_person_level' %}">Eliminar Niveles de Persona</a>
                <a class="list-group-item list-group-item-action" href="{% url 'get_qr_code' %}">Obtener QR Dinámico</a>
                <a class="list-group-item list-group-item-action" href="{% url 'get_person' %}">Consultar Persona</a>
                <a class="list-group-item list-group-item-action" href="{% url 'list_personnel' %}">Listar Personal</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-header bg-success text-white">Dispositivos y Transacciones</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action" href="{% url 'list_devices' %}">Listar Dispositivos</a>
                <a class="list-group-item list-group-item-action" href="{% url 'list_transactions' %}">Listar Transacciones</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
